{:deps {io.github.borkdude/quickblog {:git/sha "9841b9001b9d8a663d45b29ae301aeb1de42c124"}
        ; TODO: Remove this to use the version shipped with quickblog once a release including
        ; https://github.com/babashka/http-server/pull/10 is made available
        org.babashka/http-server     {:git/url "https://github.com/babashka/http-server"
                                      :sha "c8f061a9ad12f0381981e280266846117295154e"}}

 :tasks
 {:requires ([quickblog.cli :as cli])
  :init (def opts {:about-link "https://github.com/anderseknert"
                   :blog-author "Anders Eknert"
                   :blog-root "https://www.eknert.com/blog"
                   :blog-title "Anders Means Different"
                   :blog-description "On life, open source and the many things that annoy me"
                   :favicon true
                   :num-index-posts 10
                   :page-suffix ""
                   :skip-archive true})

  quickblog
  {:doc "Start blogging quickly! Run `bb quickblog help` for details."
   :task (cli/dispatch opts)}

  print-classpath
  {:doc "Print the classpath for debugging purposes."
   :task (run! println (babashka.classpath/split-classpath (babashka.classpath/get-classpath)))}}}
