<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8"/>
    <link rel="canonical" href="{{sharing.url}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="application/atom+xml" rel="alternate" href="{{relative-path | safe}}atom.xml" title="{{title}}">
    <link rel="stylesheet" href="{{relative-path | safe}}style.css">
    <script src="{{relative-path | safe}}assets/js/prism.js"></script>
    {{watch | safe }}
    <link rel="stylesheet" href="{{relative-path | safe}}assets/css/prism.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">

    <link href="{{relative-path | safe}}assets/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="{{relative-path | safe}}assets/fontawesome/css/brands.css" rel="stylesheet">
    <link href="{{relative-path | safe}}assets/fontawesome/css/solid.css" rel="stylesheet">

{% if favicon-tags %}{{favicon-tags | safe}}{% endif %}

    <!-- Social sharing (Facebook, Twitter, LinkedIn, etc.) -->
    <meta name="title" content="{{title}}">
    <meta name="twitter:title" content="{{title}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:type" content="website">
{% if sharing.description %}
    <meta name="description" content="{{sharing.description}}">
    <meta name="twitter:description" content="{{sharing.description}}">
    <meta property="og:description" content="{{sharing.description}}">
{% endif %}
{% if sharing.url %}
    <meta name="twitter:url" content="{{sharing.url}}">
    <meta property="og:url" content="{{sharing.url}}">
{% endif %}
{% if sharing.image %}
    <meta name="twitter:image" content="{{sharing.image}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="{{sharing.image}}">
    <meta property="og:image:alt" content="{{sharing.image-alt}}">
{% else %}
    <meta name="twitter:card" content="summary">
{% endif %}
{% if sharing.author %}
    <meta name="twitter:creator" content="{{sharing.author}}">
{% endif %}
{% if sharing.twitter-handle %}
    <meta name="twitter:site" content="{{sharing.twitter-handle}}">
{% endif %}
  </head>
  <body>

    <div class="site-header">
      <div class="wrapper">
        <div class="site-nav">
          <a class="page-link" href="{{relative-path}}archive">
            <i class="fa-solid fa-box-archive"></i>
          </a>
          <a class="page-link" href="{{relative-path | safe}}tags">
            <i class="fa-solid fa-tags"></i>
          </a>
          <!--<a class="page-link" href="{{discuss-link}}">Discuss</a>-->
	        <a class="page-link" href="{{relative-path | safe}}atom.xml">
            <i class="fa-solid fa-square-rss"></i>
          </a>
	        <a class="page-link" href="https://hachyderm.io/@anderseknert">
            <i class="fa-brands fa-mastodon"></i>
          </a>

	  {% if about-link %}
	  <a class="page-link" href="{{about-link}}">
      <i class="fa-solid fa-address-card"></i>
    </a>
	  {% endif %}
        </div>
        <div>
          <h2 class="site-title">
            <a class="page-link" href="{{relative-path | safe}}/">{{blog-title}}</a>
          </h2>
	  <p>{{blog-description}}</p>
        </div>
      </div>
    </div>

    <div class="wrapper">

      {{body | safe }}

      <div style="margin-bottom: 20px; float: right;"></div>
    </div>
  </body>
</html>
